*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}
header {
  background: silver;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  font-weight: 800;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav__links li {
  margin: 20px;
}

.nav__links li a {
  text-decoration: none;
  color: #000;
}

.nav__links li a:hover {
  color: #fff;
}

.navbar p span {
  font-weight: bold;
}

.navbar p {
  font-style: italic;
}

.nav__links a.active {
  background: #000;
  color: #fff;
  padding: 10px 20px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
footer {
  background: silver;
  height: 100px;
  text-align: center;
}
